@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

/* Scroll top */
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
   
    border-radius: 0.1rem;
    transition: .4s;
    visibility: hidden;
    margin: 0;
  }
 
  .scrolltop__icon{
    
    font-size: 1.8rem;
    color:rgba(6,156,50,.5);
  }
  
  /* Show scrolltop */
  .show-scroll{
    visibility: visible;
    bottom: 1rem;
  }

